<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcp" />
                <binding name="NetTcpBinding_IMultiService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMultiService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9091/MyTcpEndpoint" binding="netTcpBinding"
                bindingConfiguration="NetTcp" contract="IMultiService" name="NetTcp">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:6789/MyHttpEndpoint" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMultiService" contract="IMultiService"
                name="WSHttpBinding_IMultiService">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6790/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMultiService" contract="IMultiService"
                name="NetTcpBinding_IMultiService">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>