<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="AdventureWorks2012ConnectionString" connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22950/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyService" contract="MyServiceReference.IMyService"
                name="BasicHttpBinding_IMyService" />
        </client>
    </system.serviceModel>
</configuration>
