<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMultiService" />
                <binding name="BasicHttpBinding_IMultiService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcp" />
                <binding name="NetTcpBinding_IMultiService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMultiService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13850/MyMulServiceHost.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultiService"
                contract="MulServiceReference.IMultiService" name="BasicHttpBinding_IMultiService" />
            <endpoint address="net.tcp://localhost:9090/MyTcpEndpoint" binding="netTcpBinding"
                bindingConfiguration="NetTcp" contract="ServiceReference1.IMultiService"
                name="NetTcp">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:6789/MyHttpEndpoint" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMultiService" contract="ServiceReference1.IMultiService"
                name="WSHttpBinding_IMultiService">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6790/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMultiService" contract="ServiceReference1.IMultiService"
                name="NetTcpBinding_IMultiService">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/MyHostOnIIS10/MyServiceOnIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMultiService1"
                contract="WASServiceReference.IMultiService" name="BasicHttpBinding_IMultiService1" />
        </client>
    </system.serviceModel>
</configuration>
