<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITransactionService" transactionFlow="true" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:6789/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITransactionService" contract="TransactionServiceReference.ITransactionService"
        name="NetTcpBinding_ITransactionService">
        <identity>
          <userPrincipalName value="aeon\aeon" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>