<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="NETTestConnectionString" connectionString="Data Source=.;Initial Catalog=NETTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMEP">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6789/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMEP" contract="MEPServiceReference.IMEP"
                name="WSDualHttpBinding_IMEP">
                <identity>
                    <userPrincipalName value="aeon\aeon" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
